<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>SmartPost</title>
    <meta name="description" content="This is my first project in my bachelor's degree New Media and Communication Technology" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/screen.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script src="script/script.js"></script>
    <script src="script/dataHandler.js"></script>
  </head>

  <body class="js-index">

    <header class="u-light_background">
       <div class="o-row u-box-shadow-bottom">
          <div class="o-container">
            <div class="o-layout o-layout--justify-space-between">
              <h1 class="c-lead">SmartPost</h1>

              <a class="c-small-menu" href="login.html">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
              </a>

              <a class="c-large-menu u-box-shadow-bottom c-link-cta c-link-cta-lg" href="login.html">Admin</a>

            </div>
          </div>
       </div>         
    </header>

    <section class="c-subheader">
    </section>

    <section class="u-light_background">
        <div class="o-row o-row--lg u-box-shadow-top-bottom">
            <div class="o-container">
              <div class="o-layout o-layout--row-reverse o-layout--gutter-xl">
                <div class="o-layout__item u-1-of-2-bp3">
                  <img src="img/jpg/ParcelLocker.jpg" alt="Locker">
                </div>
                <div class="o-layout__item u-1-of-2-bp3">
                  <h1 class="c-lead c-lead-title u-text-align-center-bp3">The Smart Locker</h1>
                  <h6 class="c-lead-subtitle u-text-align-center-bp3">Get your post faster & easier</h6>
                  <p class="c-lead-text">
                    SmartPost is a innovative product to enhance the way you get your postal packages.
                    The intention of this prototype is to optimize the accessability by automizing the process which delivers your package.
                    A big benefit of the smart locker is that it is good for the nature.
                    By collecting all packages in one place, postmen don't have to drive as much as they do now.
                    So think of mother nature and choose for SmartPost!</p>
                </div>
              </div>
            </div>
         </div>  
    </section>

    <footer>
        <div class="o-row o-row--sm u-box-shadow-bottom">
            <div class="o-container">
              <div class="o-layout o-layout--justify-center">
                <p>Kirsten Vermeulen &copy;</p>
            </div>
         </div>  
    </footer>

  </body>
</html>